
body, html {
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100%;
  overflow: hidden;
  font: normal 10px/16px 'Work Sans', sans-serif;
}

main {
  width: calc(100% - #{$shadow_of_box});
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.calendar {
  p {
    margin: 0;
    padding: 0;
  }
  background: #fff;
  padding: $padding_of_box $padding_of_box;
  margin: 0 $shadow_of_box/2 $shadow_of_box $shadow_of_box/2;
  box-sizing: border-box;
  border-radius: $padding_of_box;
  box-shadow: 0 $shadow_of_box/1.25 $shadow_of_box rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: 375px) {
    width: 100%;
    max-width: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 480px) {
    max-width: 480px;
  }
  header {
    margin-top: auto;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
  }
  .main {
    overflow: hidden;
    position: relative;
    height: 100%;
    @media (min-width: 480px) {
      display: flex;
      justify-content: space-between;
    }
  }
  #calendar_wrapper {
    max-width: 258px;
    min-height: 258px;
    height: 100%;
    margin: 0;
  }
  figure {
    width: calc(100% - 258px);
    height: 100%;
    max-height: 200px;
    border:0;
    display: none;
    padding: 0 0 0 $padding_of_box;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    img {
      display: block;
      max-height: 200px;
      width: auto;
    }
    @media (min-width: 480px) {
      display: flex;
    }
  }
  footer {
    margin-top: 1rem;
    p {
      font-size: 1rem;
      color: #eee;
    }
  }
  .dimmed {
    transition: all 3s 2s;
    color: #ccc !important;
  }
  .dimmed2 {
    transition: all 3s 4s;
    color: #ccc !important;
  }
}
