/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

// Variables
// Declare any of these variables before importing this SCSS file to easily override defaults
// Variables are namespaced with the pd (pikaday) prefix

// Colours
$pd-text-color: #333 !default;
$pd-title-color: #333 !default;
$pd-title-bg: #fff !default;
$pd-picker-bg: #fff !default;
$pd-picker-border: transparent !default;
$pd-picker-border-bottom: transparent !default;
$pd-picker-shadow: rgba(0,0,0,.5) !default;
$pd-th-color: #000 !default;
$pd-day-color: #000 !default;
$pd-day-bg: #fff !default;
$pd-day-hover-color: #fff !default;
$pd-day-hover-bg: #ffe000 !default;
$pd-day-today-color: #000 !default;
$pd-day-selected-color: #fff !default;
$pd-day-selected-bg: #33aaff !default;
$pd-day-selected-shadow: #178fe5 !default;
$pd-day-disabled-color: #999 !default;
$pd-week-color: #000 !default;

// Font
$pd-font-family: "Yanone Kaffeesatz", Helvetica, Arial, sans-serif !default;


.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: $pd-text-color;
    background: $pd-picker-bg;
    border: 1px solid $pd-picker-border;
    border-bottom-color: $pd-picker-border-bottom;
    font-family: $pd-font-family;

    &.is-hidden {
        display: none;
    }

    &.is-bound {
        position: absolute;
        box-shadow: 0 5px 15px -5px $pd-picker-shadow;
    }
}

// clear child float (pika-lendar), using the famous micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.pika-single {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after { clear: both }
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;

    select {
        cursor: pointer;
        position: absolute;
        z-index: 9998;
        margin: 0;
        left: 0;
        top: 5px;
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: $pd-title-color;
    background-color: $pd-title-bg;
    text-transform: uppercase;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px; // hide text using text-indent trick, using width value (it's enough)
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;

    &:hover {
        opacity: 1;
    }

    &.is-disabled {
        cursor: default;
        opacity: .2;
    }
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;

    th,
    td {
        width: 14.285714285714286%;
        padding: 0;
    }

    th {
        color: $pd-th-color;
        font-size: 16px;
        line-height: 25px;
        font-weight: 100;
        text-align: center;
        padding-bottom:10px;
        border-bottom: 1px solid #eee;
    }

    abbr {
        border-bottom: none;
        cursor: s-resize;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: $pd-day-color;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: $pd-day-bg;

    .is-today & {
        color: $pd-day-selected-bg;
        font-weight: normal;
    }

    .is-selected & {
        transition: 0.25s all;
        color: $pd-day-selected-color;
        font-weight: normal;
        background: $pd-day-selected-bg;
        border: 0;
        //box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        //border-radius: 100%;
    }

    .is-disabled &,
    .is-outside-current-month & {        
        color: $pd-day-disabled-color;
        opacity: .3;
    }

    .is-disabled & {
        pointer-events: none;
        cursor: default;
    }

    &:hover {
        color: $pd-day-selected-bg;//$pd-day-hover-color;
        //background: $pd-day-hover-bg;
        //box-shadow: none;
        //border-radius: 3px;
    }

    .is-selection-disabled {
        pointer-events: none;
        cursor: default;
    }
}

.pika-week {
    font-size: 11px;
    color: $pd-week-color;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}
