@charset "UTF-8";
@import "_base.scss";

$padding_of_box: 20px;
$shadow_of_box: 10px;

@import url('https://fonts.googleapis.com/css?family=Work+Sans|Yanone+Kaffeesatz');

html {
  font-size: 12px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

@import "pikaday.scss";
@import "_app.scss";
